<section class="pagenotfound-section">
    <div class="svg-container">
        <svg class="main-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 450"><title>218339-P106FR-372</title>
            <g id="BACKGROUND">
                <rect width="500" height="500" style="fill:#fff" />
            </g>
            <g id="OBJECTS">
                <g style="opacity:0.22">
                    <path d="M268.77,112.86c-39.14,12.5-163.11-49.12-153.41,35,1.52,12.51,9.58,30.19,2.77,41.88-4.93,8.75-14,13.88-22.71,17.28-22.81,9.27-31.31,26.68-25.53,51.53,15.45,66.95,99.58,51.07,143.75,31.22C245,275,282.09,272.49,314.61,285c25.48,10.17,41.36,31.52,71.27,25.27,26.52-5.32,30.52-30.36,22.78-53.67-4.4-14.42-7.56-20.51,1.17-34.43,7.35-13.82,20.3-24.3,21.29-40.49.22-17.54-7.84-35.22-23.44-41.86-12.76-5.44-24.33-3.24-37-6.58-28.08-7.89-46.13-51.53-81-36.52-8.69,4.1-13.57,13.55-23,16.3"
                        style="fill:#a2dbf1" />
                </g>
                <g style="opacity:0.30000000000000004">
                    <path d="M254.58,106.84c3.55,0,3.55-5.5,0-5.5s-3.55,5.5,0,5.5Z" style="fill:#a2dbf1" />
                    <path d="M91.64,191.41c7.09,0,7.09-11,0-11s-7.09,11,0,11Z" style="fill:#a2dbf1" />
                    <path d="M422.33,235.27c7.09,0,7.09-11,0-11s-7.09,11,0,11Z" style="fill:#a2dbf1" />
                    <path d="M236,104.09c7.09,0,7.09-11,0-11s-7.09,11,0,11Z" style="fill:#a2dbf1" />
                    <path d="M433.33,217.81c9.22,0,9.22-14.3,0-14.3s-9.22,14.3,0,14.3Z" style="fill:#a2dbf1" />
                    <path d="M73.08,209.56c9.22,0,9.22-14.3,0-14.3s-9.22,14.3,0,14.3Z" style="fill:#a2dbf1" />
                    <path d="M378.33,123.62c9.22,0,9.22-14.3,0-14.3s-9.22,14.3,0,14.3Z" style="fill:#a2dbf1" />
                    <path d="M251.83,95.16c10.64,0,10.64-16.5,0-16.5s-10.64,16.5,0,16.5Z" style="fill:#a2dbf1" />
                    <path d="M439.24,230.73c5.32,0,5.32-8.25,0-8.25s-5.32,8.25,0,8.25Z" style="fill:#a2dbf1" />
                    <path d="M71.16,186.59c5.32,0,5.32-8.25,0-8.25s-5.32,8.25,0,8.25Z" style="fill:#a2dbf1" />
                    <path d="M395.52,131.59c5.32,0,5.32-8.25,0-8.25s-5.32,8.25,0,8.25Z" style="fill:#a2dbf1" />
                    <path d="M394.14,116.47c3.55,0,3.55-5.5,0-5.5s-3.55,5.5,0,5.5Z" style="fill:#a2dbf1" />
                    <path d="M115.57,107c7.09,0,7.09-11,0-11s-7.09,11,0,11Z" style="fill:#a2dbf1" />
                    <path d="M428.52,296.59c7.09,0,7.09-11,0-11s-7.09,11,0,11Z" style="fill:#a2dbf1" />
                    <path d="M71,301.41c7.09,0,7.09-11,0-11s-7.09,11,0,11Z" style="fill:#a2dbf1" />
                    <path d="M132.07,98.73c3.55,0,3.55-5.5,0-5.5s-3.55,5.5,0,5.5Z" style="fill:#a2dbf1" />
                    <path d="M429.21,274.59c3.55,0,3.55-5.5,0-5.5s-3.55,5.5,0,5.5Z" style="fill:#a2dbf1" />
                    <path d="M87.52,308.28c3.55,0,3.55-5.5,0-5.5s-3.55,5.5,0,5.5Z" style="fill:#a2dbf1" />
                </g>
                <path d="M166,215.68c-3.7,1.31-6.15,1.56-8-2.19-1.46-2.89-2.44-5.86-4.28-8.57-4-5.85-7.85-6.25-14.24-5.41s-15-.79-15.95-8.12c-.69-5.22-.73-10-3-14.91-1.13-2.41-4.68-.31-3.56,2.08,2.54,5.42,1.43,11.33,3.28,16.85s8.16,7.41,13.43,8c4,.48,7.47-.49,11.38-.48,4.2,0,7.06,7.2,8.39,10.36,2.77,6.59,6.7,8.8,13.69,6.33,2.49-.88,1.42-4.87-1.1-4Z"
                    style="fill:#222221" />
                <path d="M122.44,170.91a12.33,12.33,0,0,1-4.54,3.53c-1.9,1-.23,3.8,1.67,2.85a15.86,15.86,0,0,0,5.73-4.72,1.65,1.65,0,0,0-.59-2.26,1.69,1.69,0,0,0-2.26.59Z"
                    style="fill:#222221" />
                <path d="M116.53,166.52c0,3.49.52,7,.55,10.45a1.65,1.65,0,0,0,3.3,0c0-3.49-.54-7-.55-10.45a1.65,1.65,0,0,0-3.3,0Z"
                    style="fill:#222221" />
                <path d="M111,169.89c2.21,2.76,4.45,5.51,7.48,7.41,1.81,1.13,3.47-1.73,1.67-2.85-2.77-1.73-4.8-4.37-6.82-6.89-1.33-1.66-3.65.69-2.33,2.33Z"
                    style="fill:#222221" />
                <path d="M108.21,174.84a10.73,10.73,0,0,0,11,2.63c2-.62,1.16-3.81-.88-3.18a7.39,7.39,0,0,1-7.74-1.78c-1.54-1.46-3.88.87-2.33,2.33Z"
                    style="fill:#222221" />
                <path d="M334.74,225.92c.15-5.39,2-7.19,7.15-7.61a99.36,99.36,0,0,0,10.15-.85c5.1-1,5-8,7-11.62,3-5.55,11.12-5,16.35-6.6,5.76-1.81,8-6.68,8.31-12.36.16-2.66-4-2.64-4.12,0-.51,8.45-6.7,8.74-13.51,10.14-6,1.23-10.06,4.52-12.15,10.31-.65,1.81-.81,5.58-3,6.16-3.49.94-7.5.51-11.09.9-6.74.73-9.07,5.15-9.25,11.55-.07,2.66,4.05,2.65,4.12,0Z"
                    style="fill:#222221" />
                <path d="M374,181.81a13,13,0,0,0,7.2,7.2,1.65,1.65,0,0,0,2-1.15,1.69,1.69,0,0,0-1.15-2,9.31,9.31,0,0,1-4.9-4.9,1.69,1.69,0,0,0-2-1.15,1.65,1.65,0,0,0-1.15,2Z"
                    style="fill:#222221" />
                <path d="M378.88,177.52v8.25a1.65,1.65,0,0,0,3.3,0v-8.25a1.65,1.65,0,0,0-3.3,0Z" style="fill:#222221" />
                <path d="M384.44,178.18a15.24,15.24,0,0,1-5.08,7c-1.65,1.35.7,3.67,2.33,2.33a18.32,18.32,0,0,0,5.92-8.43c.7-2-2.49-2.87-3.18-.88Z"
                    style="fill:#222221" />
                <path d="M388.46,181.64a12.68,12.68,0,0,1-6.16,4.74c-1.94.8-1.09,4,.88,3.18a16.48,16.48,0,0,0,8.14-6.26c1.14-1.81-1.72-3.46-2.85-1.67Z"
                    style="fill:#222221" />
                <path d="M354.41,285.68c0,2.89-21.6,3.72-23.94,3.72H168.79c-2.33,0-23.94-.84-23.94-3.72l19.71-29.55c0-2.89,1.89-5.23,4.22-5.23H330.47c2.33,0,4.23,2.34,4.23,5.23Z"
                    style="fill:#b3b3b3" />
                <polygon points="216.38 279.1 174.83 279.1 182.1 261.5 219.68 261.5 216.38 279.1" style="fill:#3e3e3d" />
                <polygon points="282.88 279.1 324.43 279.1 317.16 261.5 279.58 261.5 282.88 279.1" style="fill:#3e3e3d" />
                <polygon points="329.05 279.1 343.68 279.1 331.71 261.5 320.67 261.5 329.05 279.1" style="fill:#3e3e3d" />
                <polygon points="170.21 279.1 155.58 279.1 167.56 261.5 178.59 261.5 170.21 279.1" style="fill:#3e3e3d" />
                <polygon points="279.22 279.1 220.04 279.1 223.34 261.5 275.92 261.5 279.22 279.1" style="fill:#3e3e3d" />
                <rect x="159.19" y="264.71" width="180.88" height="2.69" style="fill:#b3b3b3" />
                <rect x="157.23" y="271.31" width="184.8" height="2.69" style="fill:#b3b3b3" />
                <path d="M355.51,292.53c0,2.33-.48,4.22-2.81,4.22H146.56c-2.33,0-2.82-1.89-2.82-4.22v-3.62c0-2.33.48-4.22,2.82-4.22H352.7c2.33,0,2.81,1.89,2.81,4.22Z"
                    style="fill:#3e3e3d" />
                <path d="M288.27,290.82a2.2,2.2,0,0,1-2.2,2.2H213.19a2.2,2.2,0,0,1-2.2-2.2h0a2.2,2.2,0,0,1,2.2-2.2h72.87a2.2,2.2,0,0,1,2.2,2.2Z"
                    style="fill:#6f6f6f" />
                <rect x="162.46" y="139.69" width="174.35" height="116.68" rx="4.23" ry="4.23" style="fill:#3e3e3d" />
                <path d="M249.63,145.56a1.76,1.76,0,0,0,0-3.52,1.76,1.76,0,0,0,0,3.52Z" style="fill:#fff" />
                <rect x="174.66" y="148.63" width="149.94" height="100.34" rx="3.63" ry="3.63" style="fill:#fff" />
                <line x1="227.8" y1="186.36" x2="215.36" y2="198.8" style="fill:none;stroke:#425973;stroke-linecap:round;stroke-linejoin:round;stroke-width:3.3000000000000003px"
                />
                <line x1="227.8" y1="198.8" x2="215.36" y2="186.36" style="fill:none;stroke:#425973;stroke-linecap:round;stroke-linejoin:round;stroke-width:3.3000000000000003px"
                />
                <line x1="283.9" y1="186.36" x2="271.46" y2="198.8" style="fill:none;stroke:#425973;stroke-linecap:round;stroke-linejoin:round;stroke-width:3.3000000000000003px"
                />
                <line x1="283.9" y1="198.8" x2="271.46" y2="186.36" style="fill:none;stroke:#425973;stroke-linecap:round;stroke-linejoin:round;stroke-width:3.3000000000000003px"
                />
                <path d="M278.32,213.82V226.1a4.4,4.4,0,0,1-4.4,4.4h-2.37a4.4,4.4,0,0,1-4.4-4.4V213.82" style="fill:#dd9ab2" />
                <polygon points="274.66 214.46 272.73 228.76 270.8 214.46 274.66 214.46" style="fill:#d6819f" />
                <line x1="212.34" y1="213.81" x2="286.92" y2="213.81" style="fill:none;stroke:#425973;stroke-linecap:round;stroke-linejoin:round;stroke-width:2.75px"
                />
                <path d="M200.13,212c7.09,0,7.09-11,0-11s-7.09,11,0,11Z" style="fill:#e9c2d0" />
                <path d="M299.13,212c7.09,0,7.09-11,0-11s-7.09,11,0,11Z" style="fill:#e9c2d0" />
                <path d="M308.48,125.27v36.3c0,3.55,5.5,3.55,5.5,0v-36.3c0-3.55-5.5-3.55-5.5,0Z" style="fill:#db9022" />
                <path d="M311.23,175.59c5.32,0,5.32-8.25,0-8.25s-5.32,8.25,0,8.25Z" style="fill:#db9022" />
                <rect x="176.85" y="315.42" width="146.3" height="35.2" rx="8.8" ry="8.8" style="fill:#a2dbf1" /><text transform="translate(185.81 340.98)" style="font-size:24.200000762939453px;fill:#fff;font-family:TimesLTStd-Semibold, Times LT Std;font-weight:700">404
                    ERROR</text><text transform="translate(111.32 378.5)" style="font-size:16px;fill:#5a788e;font-family:TimesNewRomanPS-BoldMT, Times New Roman;font-weight:700">SOR<tspan
                        x="32.9" y="0" style="letter-spacing:-0.03515625em">R</tspan>
                    <tspan x="43.89" y="0" style="letter-spacing:-0.091796875em">Y</tspan>
                    <tspan x="53.98" y="0">,</tspan>
                    <tspan x="57.98" y="0" style="letter-spacing:-0.01806640625em"> </tspan>
                    <tspan x="61.69" y="0">THE </tspan>
                    <tspan x="99.48" y="0" style="letter-spacing:-0.07421875em">P</tspan>
                    <tspan x="108.06" y="0">AGE</tspan>
                    <tspan x="142.73" y="0" style="letter-spacing:-0.037109375em"> </tspan>
                    <tspan x="146.14" y="0">YOU REQUESTED </tspan>
                    <tspan x="75.22" y="19.2" style="letter-spacing:-0.11083984375em">W</tspan>
                    <tspan x="89.45" y="19.2">AS NO</tspan>
                    <tspan x="137.9" y="19.2" style="letter-spacing:-0.01806640625em">T</tspan>
                    <tspan x="148.29" y="19.2" xml:space="preserve"> FOUND</tspan></text><text transform="translate(158.12 437.91)" style="font-size:24px;fill:#5a788e;font-family:TimesNewRomanPS-BoldMT, Times New Roman;font-weight:700">RETURN</text><text
                    transform="translate(269.76 437.91)" class="home-text" [routerLink]="['/home']" style="font-size:24px;font-family:TimesNewRomanPS-BoldMT, Times New Roman;font-weight:700">HOME</text></g>
        </svg>
        <svg (click)="gotoFreepik()" class="freepik-svg" width="200" height="50" xmlns="http://www.w3.org/2000/svg">
            <g id="DESIGNED_BY_FREEPIK" data-name="DESIGNED BY FREEPIK" transform="translate(-150, -450)">
                <path d="M175.87,475.71a.74.74,0,0,0-.61-.25.76.76,0,0,0-.62.27,1.36,1.36,0,0,0-.21.82v2.6a3.72,3.72,0,0,0-1-.81,2.89,2.89,0,0,0-1.28-.26A2.71,2.71,0,0,0,170,479a3.82,3.82,0,0,0-.8,2.57,5.18,5.18,0,0,0,.2,1.45,3.38,3.38,0,0,0,.6,1.17,2.74,2.74,0,0,0,.93.76,2.51,2.51,0,0,0,1.16.27,2.71,2.71,0,0,0,.88-.14,2.4,2.4,0,0,0,.75-.38,4.7,4.7,0,0,0,.7-.66v.17a1.14,1.14,0,0,0,.23.75.79.79,0,0,0,.6.26.82.82,0,0,0,.6-.25,1.12,1.12,0,0,0,.23-.76v-7.75A1.1,1.1,0,0,0,175.87,475.71Zm-1.77,7.17a1.63,1.63,0,0,1-.61.74,1.55,1.55,0,0,1-.84.24,1.52,1.52,0,0,1-.85-.26,1.7,1.7,0,0,1-.61-.75,3.47,3.47,0,0,1,0-2.41,1.75,1.75,0,0,1,.59-.78,1.45,1.45,0,0,1,.86-.28,1.49,1.49,0,0,1,.86.27,1.83,1.83,0,0,1,.61.77,2.83,2.83,0,0,1,.23,1.21A2.92,2.92,0,0,1,174.1,482.88Z"
                    style="fill:#c6cfcf" />
                <path d="M182.92,482.8a.57.57,0,0,0-.39.12l-.53.49a4.9,4.9,0,0,1-.45.34,2.16,2.16,0,0,1-.51.23,2,2,0,0,1-.57.07,1.67,1.67,0,0,1-.86-.23,1.65,1.65,0,0,1-.63-.69,2.23,2.23,0,0,1-.24-1.05h3.44a2.41,2.41,0,0,0,1.07-.2.89.89,0,0,0,.38-.86,3,3,0,0,0-.37-1.4,2.8,2.8,0,0,0-1.11-1.13,3.41,3.41,0,0,0-1.76-.43,3.89,3.89,0,0,0-1.44.25,3,3,0,0,0-1.1.73,3.18,3.18,0,0,0-.67,1.15,4.2,4.2,0,0,0-.24,1.44,3.62,3.62,0,0,0,.94,2.62,3.54,3.54,0,0,0,2.64,1,4,4,0,0,0,1.31-.2,3.29,3.29,0,0,0,.94-.48,2.47,2.47,0,0,0,.57-.61,1.2,1.2,0,0,0,.18-.56.53.53,0,0,0-.16-.42A.64.64,0,0,0,182.92,482.8Zm-3.67-3.07a1.41,1.41,0,0,1,1.08-.45,1.44,1.44,0,0,1,1.11.45,2.21,2.21,0,0,1,.49,1.35h-3.19A2.31,2.31,0,0,1,179.25,479.73Z"
                    style="fill:#c6cfcf" />
                <path d="M189.92,482.06a2.17,2.17,0,0,0-.79-.65,5.39,5.39,0,0,0-1.33-.48l-1.08-.28a1.93,1.93,0,0,1-.63-.3.54.54,0,0,1-.23-.45.6.6,0,0,1,.31-.51,1.52,1.52,0,0,1,.8-.2,1.39,1.39,0,0,1,.73.16,1.55,1.55,0,0,1,.47.41,3.22,3.22,0,0,0,.43.46.73.73,0,0,0,.46.16.8.8,0,0,0,.58-.2.62.62,0,0,0,.2-.49,1,1,0,0,0-.19-.57,1.85,1.85,0,0,0-.55-.53,3.08,3.08,0,0,0-.91-.38,5.07,5.07,0,0,0-1.22-.14,3.55,3.55,0,0,0-1.49.28,2.23,2.23,0,0,0-.93.75,1.76,1.76,0,0,0-.31,1,1.5,1.5,0,0,0,.34,1,2.37,2.37,0,0,0,.91.65,10.08,10.08,0,0,0,1.48.47,4.34,4.34,0,0,1,1.15.41.71.71,0,0,1,.35.67.66.66,0,0,1-.33.54,1.48,1.48,0,0,1-.87.24,2,2,0,0,1-1-.23,2,2,0,0,1-.65-.71,1.29,1.29,0,0,0-.28-.38.6.6,0,0,0-.42-.13.72.72,0,0,0-.52.2.69.69,0,0,0-.21.5,1.49,1.49,0,0,0,.32.87,2.49,2.49,0,0,0,1,.73,4.13,4.13,0,0,0,1.62.29,4.63,4.63,0,0,0,1.68-.27,2,2,0,0,0,1.4-2A1.43,1.43,0,0,0,189.92,482.06Z"
                    style="fill:#c6cfcf" />
                <path d="M192.6,478.34a.84.84,0,0,0-.64-.27.8.8,0,0,0-.63.27,1.1,1.1,0,0,0-.24.78v5a1.18,1.18,0,0,0,.24.79.81.81,0,0,0,.63.28.84.84,0,0,0,.64-.27,1.14,1.14,0,0,0,.25-.8v-5.08A1,1,0,0,0,192.6,478.34Zm0-2.59a.93.93,0,0,0-.6-.22.86.86,0,0,0-.62.25.77.77,0,0,0-.27.61.81.81,0,0,0,.26.64,1,1,0,0,0,.63.22.89.89,0,0,0,.61-.22.84.84,0,0,0,.26-.64A.79.79,0,0,0,192.58,475.75Z"
                    style="fill:#c6cfcf" />
                <path d="M200.38,478.4a.69.69,0,0,0-.68-.33.78.78,0,0,0-.58.25,1,1,0,0,0-.22.71v.24a3,3,0,0,0-1-.9,2.71,2.71,0,0,0-1.29-.29,2.87,2.87,0,0,0-1.15.23,2.44,2.44,0,0,0-.92.66,3,3,0,0,0-.61,1.07,4.27,4.27,0,0,0-.22,1.43,4.55,4.55,0,0,0,.36,1.87,2.82,2.82,0,0,0,1,1.26,2.59,2.59,0,0,0,1.54.46,2.55,2.55,0,0,0,1.27-.3,3,3,0,0,0,.93-.86c0,.57,0,1,0,1.25a2,2,0,0,1-.17.73,1.08,1.08,0,0,1-.53.53,2.32,2.32,0,0,1-1.06.19,2.67,2.67,0,0,1-.59-.06,1.2,1.2,0,0,1-.44-.19,1.62,1.62,0,0,1-.34-.3l-.29-.35a.86.86,0,0,0-.68-.34.75.75,0,0,0-.52.2.68.68,0,0,0-.22.53,1.21,1.21,0,0,0,.38.82,2.86,2.86,0,0,0,1.1.66,4.86,4.86,0,0,0,1.63.25,5.6,5.6,0,0,0,1.65-.2,2.37,2.37,0,0,0,1.08-.61,2.28,2.28,0,0,0,.6-1,5.53,5.53,0,0,0,.19-1.51v-5.1A2.19,2.19,0,0,0,200.38,478.4Zm-1.79,4.41a1.64,1.64,0,0,1-.63.7,1.56,1.56,0,0,1-.83.24,1.51,1.51,0,0,1-1.21-.55,2.42,2.42,0,0,1-.46-1.61,2.57,2.57,0,0,1,.45-1.63,1.46,1.46,0,0,1,1.21-.58,1.5,1.5,0,0,1,1.24.6,2.62,2.62,0,0,1,.48,1.68A2.53,2.53,0,0,1,198.59,482.81Z"
                    style="fill:#c6cfcf" />
                <path d="M207.9,479.92a2,2,0,0,0-.22-.69,2,2,0,0,0-.82-.86,2.52,2.52,0,0,0-1.24-.3,2.71,2.71,0,0,0-1.27.29,2.14,2.14,0,0,0-.29.18,3.5,3.5,0,0,0-.72.72V479a1.19,1.19,0,0,0-.11-.53.82.82,0,0,0-.3-.33.9.9,0,0,0-.42-.11.76.76,0,0,0-.6.25,1.07,1.07,0,0,0-.22.75v5.08a1.13,1.13,0,0,0,.25.79.8.8,0,0,0,.62.28.83.83,0,0,0,.64-.27,1.14,1.14,0,0,0,.25-.8v-2.2a5.32,5.32,0,0,1,.13-1.47,1.64,1.64,0,0,1,.56-.77,1.42,1.42,0,0,1,.86-.28,1,1,0,0,1,1,.46,3,3,0,0,1,.24,1.33v2.93a1.18,1.18,0,0,0,.25.79.81.81,0,0,0,.64.28.8.8,0,0,0,.62-.27,1.14,1.14,0,0,0,.25-.8v-3.27A6.13,6.13,0,0,0,207.9,479.92Z"
                    style="fill:#c6cfcf" />
                <path d="M214.77,482.8a.54.54,0,0,0-.38.12l-.54.49a5.05,5.05,0,0,1-.45.34,2.08,2.08,0,0,1-.5.23,1.9,1.9,0,0,1-.55.07h0a1.7,1.7,0,0,1-.86-.23,1.57,1.57,0,0,1-.62-.69,1.47,1.47,0,0,1-.08-.17h0a2.47,2.47,0,0,1-.17-.87H214a2.39,2.39,0,0,0,1.07-.2.89.89,0,0,0,.38-.86,3,3,0,0,0-1.47-2.53,3.42,3.42,0,0,0-1.77-.43,3.89,3.89,0,0,0-1.44.25,3,3,0,0,0-1.09.73,3.09,3.09,0,0,0-.68,1.15,4.44,4.44,0,0,0-.23,1.44,3.58,3.58,0,0,0,.94,2.62,3.5,3.5,0,0,0,2.63,1,4,4,0,0,0,1.31-.2h0a3.66,3.66,0,0,0,.91-.47,2.44,2.44,0,0,0,.56-.61,1.23,1.23,0,0,0,.19-.56.54.54,0,0,0-.17-.42A.63.63,0,0,0,214.77,482.8Zm-3.66-3.07a1.4,1.4,0,0,1,1.07-.45,1.44,1.44,0,0,1,1.11.45,2.08,2.08,0,0,1,.49,1.35h-3.19A2.25,2.25,0,0,1,211.11,479.73Z"
                    style="fill:#c6cfcf" />
                <path d="M222.64,475.71a.75.75,0,0,0-.61-.25.74.74,0,0,0-.62.27,1.36,1.36,0,0,0-.22.82v2.6a3.69,3.69,0,0,0-1-.81,2.93,2.93,0,0,0-1.28-.26,2.69,2.69,0,0,0-2.12.92,3.78,3.78,0,0,0-.81,2.57,4.81,4.81,0,0,0,.21,1.45,3.34,3.34,0,0,0,.59,1.17,2.73,2.73,0,0,0,.93.76,2.58,2.58,0,0,0,1.17.27,2.76,2.76,0,0,0,.88-.14,2.4,2.4,0,0,0,.75-.38,4.27,4.27,0,0,0,.69-.66v.17a1.09,1.09,0,0,0,.24.75.82.82,0,0,0,1.19,0,1.06,1.06,0,0,0,.24-.76v-7.75A1.15,1.15,0,0,0,222.64,475.71Zm-1.77,7.17a1.69,1.69,0,0,1-.61.74,1.58,1.58,0,0,1-.85.24,1.52,1.52,0,0,1-.84-.26,1.71,1.71,0,0,1-.61-.75,3,3,0,0,1-.22-1.22,3.12,3.12,0,0,1,.21-1.19,1.69,1.69,0,0,1,.59-.78,1.47,1.47,0,0,1,1.71,0,1.84,1.84,0,0,1,.62.77,3,3,0,0,1,.23,1.21A3.06,3.06,0,0,1,220.87,482.88Z"
                    style="fill:#c6cfcf" />
                <path d="M233.22,479.7a2.75,2.75,0,0,0-1-1.2,2.81,2.81,0,0,0-1.54-.42,2.69,2.69,0,0,0-1.27.28,3.77,3.77,0,0,0-1,.79v-2.69a1.15,1.15,0,0,0-.22-.74.77.77,0,0,0-.63-.26.74.74,0,0,0-.6.27,1.3,1.3,0,0,0-.21.81v7.67a1.1,1.1,0,0,0,.22.75.74.74,0,0,0,.59.26.8.8,0,0,0,.61-.26,1.06,1.06,0,0,0,.24-.75V484c.19.22.35.39.46.5a3.4,3.4,0,0,0,.43.33,2.31,2.31,0,0,0,.61.25,3.17,3.17,0,0,0,.76.1,2.77,2.77,0,0,0,1.22-.27,2.65,2.65,0,0,0,.93-.76,3.28,3.28,0,0,0,.59-1.15,4.87,4.87,0,0,0,.2-1.47A4.48,4.48,0,0,0,233.22,479.7Zm-1.88,3.58a1.43,1.43,0,0,1-1.14.58,1.57,1.57,0,0,1-1.26-.57,2.4,2.4,0,0,1-.48-1.61,3.06,3.06,0,0,1,.23-1.23,1.76,1.76,0,0,1,.61-.79,1.58,1.58,0,0,1,.9-.28,1.4,1.4,0,0,1,.85.28,1.67,1.67,0,0,1,.57.77,3.36,3.36,0,0,1,.2,1.2A2.5,2.5,0,0,1,231.34,483.28Z"
                    style="fill:#c6cfcf" />
                <path d="M240,478.46a.74.74,0,0,0-.28-.28.77.77,0,0,0-.38-.11.74.74,0,0,0-.43.1.9.9,0,0,0-.29.37,7,7,0,0,0-.3.77l-1.41,4L235.43,479a2.24,2.24,0,0,0-.34-.69.69.69,0,0,0-.57-.24.8.8,0,0,0-.42.12.75.75,0,0,0-.32.31.73.73,0,0,0-.12.41,2.1,2.1,0,0,0,.2.69L236,485l-.16.4a4.37,4.37,0,0,1-.32.65.76.76,0,0,1-.31.31,1,1,0,0,1-.47.09,1.09,1.09,0,0,1-.29,0,1.25,1.25,0,0,0-.28,0,.78.78,0,0,0-.54.17.56.56,0,0,0-.19.46.62.62,0,0,0,.39.62,3.13,3.13,0,0,0,1.16.16,2.75,2.75,0,0,0,1.25-.24,1.79,1.79,0,0,0,.75-.69,6.4,6.4,0,0,0,.58-1.24l2.3-6c.05-.16.1-.31.14-.46s.06-.27.08-.35A.74.74,0,0,0,240,478.46Z"
                    style="fill:#c6cfcf" />
                <path d="M261.32,478.22h.42v-.53a3.39,3.39,0,0,1,.21-1.31,1.32,1.32,0,0,1,.71-.71,3.42,3.42,0,0,1,1.37-.22c1,0,1.54.25,1.54.76a.58.58,0,0,1-.16.42.5.5,0,0,1-.38.17l-.36,0a3.11,3.11,0,0,0-.42,0,.62.62,0,0,0-.61.28,2,2,0,0,0-.13.8v.42h.43c.67,0,1,.2,1,.61s-.09.47-.27.54a1.87,1.87,0,0,1-.74.12h-.43v4.66a1.12,1.12,0,0,1-.25.79.81.81,0,0,1-.64.28.8.8,0,0,1-.62-.28,1.13,1.13,0,0,1-.25-.79v-4.66h-.48a.91.91,0,0,1-.61-.18.57.57,0,0,1-.21-.46c0-.42.3-.63.88-.63Z"
                    style="fill:#c6cfcf" />
                <path d="M267.07,482.68v1.47a1.14,1.14,0,0,1-.25.8.83.83,0,0,1-.64.27.79.79,0,0,1-.63-.27,1.16,1.16,0,0,1-.24-.8v-4.89q0-1.19.85-1.19a.72.72,0,0,1,.63.28,1.56,1.56,0,0,1,.21.82,3,3,0,0,1,.64-.82,1.35,1.35,0,0,1,.89-.28,2.26,2.26,0,0,1,1.07.28.83.83,0,0,1,.52.74.7.7,0,0,1-.22.53.68.68,0,0,1-.48.21,2.3,2.3,0,0,1-.47-.12,2.22,2.22,0,0,0-.65-.12,1,1,0,0,0-.63.2,1.33,1.33,0,0,0-.38.6,4.5,4.5,0,0,0-.18,1c0,.37,0,.82,0,1.34Z"
                    style="fill:#c6cfcf" />
                <path d="M275.89,482.8a.56.56,0,0,0-.38.12c-.22.2-.4.37-.54.48a2.46,2.46,0,0,1-.45.34,1.54,1.54,0,0,1-.5.23,1.8,1.8,0,0,1-.58.08,1.7,1.7,0,0,1-.86-.23,1.77,1.77,0,0,1-.63-.69,2.5,2.5,0,0,1-.24-1.06h3.44a2.4,2.4,0,0,0,1.07-.19.9.9,0,0,0,.38-.86,2.94,2.94,0,0,0-.37-1.41,2.81,2.81,0,0,0-1.1-1.12,3.42,3.42,0,0,0-1.77-.43,3.89,3.89,0,0,0-1.44.25,2.87,2.87,0,0,0-1.09.73,3.12,3.12,0,0,0-.68,1.14,4.29,4.29,0,0,0-.23,1.45,3.57,3.57,0,0,0,.94,2.62,3.49,3.49,0,0,0,2.63,1,4,4,0,0,0,1.31-.19,3.36,3.36,0,0,0,1-.48,2.34,2.34,0,0,0,.57-.62,1.13,1.13,0,0,0,.18-.55.54.54,0,0,0-.17-.42A.63.63,0,0,0,275.89,482.8Zm-3.66-3.07a1.4,1.4,0,0,1,1.07-.45,1.46,1.46,0,0,1,1.12.45,2.08,2.08,0,0,1,.48,1.34h-3.19A2.23,2.23,0,0,1,272.23,479.73Z"
                    style="fill:#c6cfcf" />
                <path d="M283.2,482.8a.56.56,0,0,0-.38.12c-.22.2-.4.37-.54.48a2.5,2.5,0,0,1-.45.34,1.5,1.5,0,0,1-.51.23,1.84,1.84,0,0,1-1.43-.15,1.67,1.67,0,0,1-.62-.69,2.37,2.37,0,0,1-.25-1.06h3.44a2.4,2.4,0,0,0,1.07-.19.9.9,0,0,0,.38-.86,2.94,2.94,0,0,0-.37-1.41,2.82,2.82,0,0,0-1.1-1.12,3.45,3.45,0,0,0-1.77-.43,3.89,3.89,0,0,0-1.44.25,2.8,2.8,0,0,0-1.09.73,3.13,3.13,0,0,0-.68,1.14,4.29,4.29,0,0,0-.24,1.45,3.58,3.58,0,0,0,1,2.62,3.5,3.5,0,0,0,2.63,1,4,4,0,0,0,1.31-.19,3.35,3.35,0,0,0,.95-.48,2.14,2.14,0,0,0,.56-.62,1,1,0,0,0,.18-.55.53.53,0,0,0-.16-.42A.63.63,0,0,0,283.2,482.8Zm-3.67-3.07a1.44,1.44,0,0,1,1.08-.45,1.48,1.48,0,0,1,1.12.45,2.08,2.08,0,0,1,.48,1.34H279A2.28,2.28,0,0,1,279.53,479.73Z"
                    style="fill:#c6cfcf" />
                <path d="M291.51,481.42a4.23,4.23,0,0,0-.38-1.7A3,3,0,0,0,290,478.5a2.84,2.84,0,0,0-1.5-.42,2.46,2.46,0,0,0-1.2.29,3.43,3.43,0,0,0-1,.9v-.21a1,1,0,0,0-.23-.74.79.79,0,0,0-.61-.25.78.78,0,0,0-.6.24,1.11,1.11,0,0,0-.22.76v7.58a2,2,0,0,0,.16.88.7.7,0,0,0,.66.29c.56,0,.84-.39.84-1.16V484a4.37,4.37,0,0,0,.55.57,3,3,0,0,0,.43.31,2.44,2.44,0,0,0,1.26.3,2.84,2.84,0,0,0,1.17-.24,2.88,2.88,0,0,0,1-.71,3.66,3.66,0,0,0,.63-1.14,4.71,4.71,0,0,0,.22-1.49A1.39,1.39,0,0,0,291.51,481.42Zm-2,1.42a1.66,1.66,0,0,1-.6.76,1.39,1.39,0,0,1-.81.26.43.43,0,0,1-.17,0,1.5,1.5,0,0,1-1.06-.57,2.42,2.42,0,0,1-.49-1.63,2.48,2.48,0,0,1,.5-1.69,1.55,1.55,0,0,1,1.22-.57,1.41,1.41,0,0,1,.84.27,1.71,1.71,0,0,1,.58.77,3.34,3.34,0,0,1,0,2.3A.63.63,0,0,1,289.53,482.84Z"
                    style="fill:#c6cfcf" />
                <path d="M293.91,478.33a.83.83,0,0,0-.64-.26.79.79,0,0,0-.62.26,1.15,1.15,0,0,0-.25.79v5a1.18,1.18,0,0,0,.25.79.79.79,0,0,0,.62.27.8.8,0,0,0,.64-.27,1.1,1.1,0,0,0,.25-.79v-5.08A1,1,0,0,0,293.91,478.33Zm0-2.58a.94.94,0,0,0-1.23,0,.8.8,0,0,0-.27.62.77.77,0,0,0,.27.63.91.91,0,0,0,.62.23.93.93,0,0,0,.62-.23.92.92,0,0,0,0-1.27Z"
                    style="fill:#c6cfcf" />
                <path d="M299.83,484.41l-1.55-2.55-1,.9v1.4a1.06,1.06,0,0,1-.27.78.82.82,0,0,1-.61.28.78.78,0,0,1-.64-.27,1.19,1.19,0,0,1-.23-.8v-7.5a1.52,1.52,0,0,1,.22-.89.75.75,0,0,1,.65-.31.81.81,0,0,1,.64.28,1.22,1.22,0,0,1,.24.81v4.27l2-2.08a4.89,4.89,0,0,1,.56-.53.77.77,0,0,1,.47-.14.78.78,0,0,1,.55.21.71.71,0,0,1,.22.52c0,.26-.24.6-.71,1l-.93.86,1.8,2.84c.13.21.23.37.29.48a.68.68,0,0,1,.09.31.92.92,0,0,1-.23.66.79.79,0,0,1-.6.24.66.66,0,0,1-.5-.17,4.35,4.35,0,0,1-.47-.63Z"
                    style="fill:#c6cfcf" />
                <path d="M303.65,485.21A1,1,0,0,1,303,485a.91.91,0,0,1-.29-.72.93.93,0,0,1,.28-.68.92.92,0,0,1,.68-.28,1,1,0,0,1,.69.28,1,1,0,0,1,0,1.4,1,1,0,0,1-.68.26Z"
                    style="fill:#c6cfcf" />
                <path d="M312.39,483a1.5,1.5,0,0,1-.2.7,2.37,2.37,0,0,1-.6.71,3,3,0,0,1-1,.54,4.32,4.32,0,0,1-1.38.21,3.38,3.38,0,0,1-2.55-.95,3.53,3.53,0,0,1-.91-2.55,4.17,4.17,0,0,1,.42-1.91,3,3,0,0,1,1.21-1.28,4.11,4.11,0,0,1,3.15-.25,3.27,3.27,0,0,1,1,.51,2.55,2.55,0,0,1,.6.67,1.34,1.34,0,0,1,.21.67.71.71,0,0,1-.23.53.81.81,0,0,1-.57.22.59.59,0,0,1-.37-.11,1.72,1.72,0,0,1-.32-.37,2.62,2.62,0,0,0-.67-.73,1.51,1.51,0,0,0-.89-.24A1.52,1.52,0,0,0,308,480a2.64,2.64,0,0,0-.48,1.66,3.23,3.23,0,0,0,.12.91,2,2,0,0,0,.35.71,1.56,1.56,0,0,0,.56.44,1.67,1.67,0,0,0,.72.15,1.63,1.63,0,0,0,.91-.24,2.1,2.1,0,0,0,.67-.75,1.77,1.77,0,0,1,.34-.46.66.66,0,0,1,.46-.17.68.68,0,0,1,.53.24.79.79,0,0,1,.21.52Z"
                    style="fill:#c6cfcf" />
                <path d="M319.73,480.19a3.21,3.21,0,0,0-.7-1.13,3.12,3.12,0,0,0-1.11-.73,3.79,3.79,0,0,0-1.45-.26,3.89,3.89,0,0,0-1.44.25,3.1,3.1,0,0,0-1.11.73,3.18,3.18,0,0,0-.7,1.13,4.27,4.27,0,0,0-.24,1.46,4.44,4.44,0,0,0,.23,1.45,3.28,3.28,0,0,0,.72,1.13,3.09,3.09,0,0,0,1.1.74,3.81,3.81,0,0,0,1.44.26,4,4,0,0,0,1.45-.26,3.13,3.13,0,0,0,1.81-1.87,4.5,4.5,0,0,0,0-2.9Zm-2,3.11a1.52,1.52,0,0,1-1.27.61,1.56,1.56,0,0,1-.92-.27,1.77,1.77,0,0,1-.6-.8,3.13,3.13,0,0,1-.21-1.2,3.27,3.27,0,0,1,.21-1.22,1.69,1.69,0,0,1,.61-.79,1.62,1.62,0,0,1,.91-.26,1.54,1.54,0,0,1,1.27.6,3.19,3.19,0,0,1,0,3.33Z"
                    style="fill:#c6cfcf" />
                <path d="M326.68,481.77v2.34a1.2,1.2,0,0,1-.25.83.85.85,0,0,1-.66.28.81.81,0,0,1-.64-.28,1.2,1.2,0,0,1-.25-.83v-2.8a9.58,9.58,0,0,0,0-1,1.13,1.13,0,0,0-.25-.6.78.78,0,0,0-.63-.24,1.11,1.11,0,0,0-1.14.6,4.17,4.17,0,0,0-.28,1.7v2.37a1.24,1.24,0,0,1-.25.83.91.91,0,0,1-1.31,0,1.2,1.2,0,0,1-.25-.83v-5a1.1,1.1,0,0,1,.23-.75.77.77,0,0,1,.6-.26.84.84,0,0,1,.6.24.91.91,0,0,1,.24.67v.17a3.1,3.1,0,0,1,1-.8,2.54,2.54,0,0,1,1.16-.26,2.33,2.33,0,0,1,1.14.26,2.11,2.11,0,0,1,.79.8,3.12,3.12,0,0,1,1-.8,2.43,2.43,0,0,1,1.13-.26,2.58,2.58,0,0,1,1.24.29,1.82,1.82,0,0,1,.78.81,3.76,3.76,0,0,1,.22,1.5v3.43a1.21,1.21,0,0,1-.25.83.92.92,0,0,1-1.32,0,1.2,1.2,0,0,1-.25-.83v-3a7.12,7.12,0,0,0,0-.91,1,1,0,0,0-.26-.57.84.84,0,0,0-.65-.23,1.2,1.2,0,0,0-.66.21,1.43,1.43,0,0,0-.49.55,4.49,4.49,0,0,0-.19,1.57Z"
                    style="fill:#c6cfcf" />
                <path d="M244.87,481.21h0Z" style="fill:#c6cfcf" />
                <path d="M245,481.78h0c0-.16-.06-.32-.08-.47C244.9,481.46,244.93,481.62,245,481.78Z" style="fill:#c6cfcf" />
                <path d="M245.54,483.41v0Z" style="fill:#c6cfcf" />
                <path d="M245.49,483.3l0-.09Z" style="fill:#c6cfcf" />
                <path d="M245.12,482.4a6.26,6.26,0,0,0,.31.79,6.08,6.08,0,0,1-.31-.79Z" style="fill:#c6cfcf" />
                <path d="M251.67,474.48a4.89,4.89,0,0,1,.88.07l.08-.52a5.4,5.4,0,0,0-1.84-.16l-.08-.28a.72.72,0,1,0-.3,0l.09.31a7.31,7.31,0,0,0-2,.58l.16.48a8.47,8.47,0,0,1,1.78-.42A11.77,11.77,0,0,1,251.67,474.48Z"
                    style="fill:#c6cfcf" />
                <path d="M245.53,477.09h0l.08-.1-.21-.15-.33-.24a4.88,4.88,0,0,0-1,1.39l-.06-.08a.65.65,0,0,0-.51-.2h0a.42.42,0,0,1-.29-.1.44.44,0,0,0,.1-.28.45.45,0,1,0-.45.45H243a.69.69,0,0,0,.55.23.37.37,0,0,1,.3.11.49.49,0,0,1,.11.29h0a4.91,4.91,0,0,0-.21,1.81l.72,0a5.46,5.46,0,0,1,.25-1.51A7.15,7.15,0,0,1,245.53,477.09Z"
                    style="fill:#c6cfcf" />
                <path d="M257.91,475.08a.45.45,0,0,0-.45.45.44.44,0,0,0,0,.11.7.7,0,0,0-.23.55.37.37,0,0,1-.1.29.47.47,0,0,1-.2.1,5.53,5.53,0,0,0-1.19-1.2l-.51.55a8,8,0,0,1,1.17,1.35,9.42,9.42,0,0,1,.77,1.37l.69-.33a10.47,10.47,0,0,0-.76-1.48.7.7,0,0,0,.22-.13.64.64,0,0,0,.2-.51.43.43,0,0,1,.1-.3.46.46,0,0,0,.28.1.45.45,0,1,0,0-.91Z"
                    style="fill:#c6cfcf" />
                <path d="M256.11,481.31a15.4,15.4,0,0,1-4.6,1.37,16.85,16.85,0,0,1-2.32.15,19.57,19.57,0,0,1-2.41-.15c-.73-.09-1.3-.21-1.65-.28a6.08,6.08,0,0,0,.31.79v0l0,.09,0,.09v0a5.12,5.12,0,0,0,.73,1.05,3.82,3.82,0,0,0,2,1.24h0a7.85,7.85,0,0,0,2.23.29,9.76,9.76,0,0,0,3.84-.79,6.27,6.27,0,0,0,2.2-1.81,5.05,5.05,0,0,0,.71-1.55,4,4,0,0,0,.1-1.24A10.78,10.78,0,0,1,256.11,481.31Z"
                    style="fill:#c6cfcf" />
                <path d="M256.09,477.5a5.55,5.55,0,0,0-3.57-2.56,4.65,4.65,0,0,0-.84-.07c-.31,0-.68,0-1.19.07a8,8,0,0,0-1.71.41,6.53,6.53,0,0,0-2.39,1.38l0,0a4.74,4.74,0,0,0-.53.57,6.55,6.55,0,0,0-.77,1.53,5.66,5.66,0,0,0-.24,1.67c0,.23,0,.46,0,.69h0a.22.22,0,0,1,0,.08c0,.16.05.32.08.48a18.31,18.31,0,0,0,6.47.34,14.85,14.85,0,0,0,4.41-1.31,8.8,8.8,0,0,0,1.44-.84A9.48,9.48,0,0,0,256.09,477.5Zm-7.52,3.14a1.91,1.91,0,1,1,1.91-1.91A1.9,1.9,0,0,1,248.57,480.64Zm5.58-1.4a1.18,1.18,0,1,1,1.18-1.19A1.18,1.18,0,0,1,254.15,479.24Z"
                    style="fill:#c6cfcf" />
            </g>
        </svg>
    </div>
</section>