@import '../../sass/_variables';

.pagenotfound-section {
    text-align: center;
    color: $theme-color;
    .main-svg {
        width: 60%;
        .home-text {
            fill:#00a843;
            cursor: pointer;
            &:hover {
                fill: #238b45;
                text-decoration: underline;
            }
        }
    }

    .freepik-svg {
        margin-left: 42%;
        display:block;
        cursor: pointer;
    }
}