:host::ng-deep {
    .home-container {
        margin-top: 20px;
        .add-idea-button {
            width: 50px;
        }
        .idea-heading {
            font-size: 40px;
            font-weight: 300;
        }
        .input-field {
            width: 100%;
        }
        .action-button {
            display: inline-block;
            width: 20px;
            margin-right: 20px;
        }
        .content-container::before {
            content: "\2022";
            color: #bdbdbd;
            display: inline-block;
            width: 2em;
            margin-left: -1em
        }
        .select-header {
            font-weight: 400;
        }
        .idea-bulb {
            margin-top: 10%;
            img {
                margin-left: 10px;
            }
            p {
                text-align: center;
            }
        }
    }

    .dropdown-toggle::after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 1.5em;
        margin-right: -1em;
        vertical-align: 0.255em;
        content: "\25C0\25B6";

        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);

        border-top: 0px;//0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
        font-size: 12px;
    }    
}