<section class="home-container">
    <div class="row">
        <div class=" offset-1 col-5">
            <p class="idea-heading float-left">My Ideas</p>
        </div>
    <div class="col-5">
        <div class="add-idea-button float-right" (click)="addIdea()">
            <img class="img-fluid" src="assets/btn_addanidea@2x.png"/>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="offset-1 col-10">
            <hr />
        </div>
    </div>
    <div class="row" *ngIf="ideasList.length === 0">
        <div class="offset-5 col-2 idea-bulb">
            <img class="img-fluid" src="assets/bulb@2x.png"/>
            <p>Got any ideas?</p>
        </div>
    </div>
    <div class="row" *ngIf="ideasList.length > 0">
        <div class="offset-1 col-1">
            <p><b>Page: {{page}}</b></p>
        </div>
        <div class="col-9">
            <nav class="float-right" aria-label="pagination">
                <ul class="pagination">
                    <li class="page-item" (click)="getPage('previous')"><a class="page-link">Previous</a></li>
                    <li class="page-item" (click)="getPage('next')"><a class="page-link">Next</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row" *ngIf="ideasList.length > 0">
        <div class="offset-1 col-10">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <ng-container *ngFor="let heading of headings">
                            <th *ngIf="heading.name === 'content'" [textContent]="heading.title" width="300"></th>
                            <th *ngIf="heading.name !== 'content'" [textContent]="heading.title" width="100" [class]="heading.class"></th>
                        </ng-container>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                    </tr>
                    <tr *ngFor="let row of ideasList"
                        (mouseenter)="showActionButtons(row)"
                        (mouseleave)="hideActionButtons(row)">
                        
                        <td *ngFor="let heading of headings">
                            <div *ngIf="row.edit">
                                <mat-form-field class="input-field" *ngIf="heading.name === 'content'">
                                    <input [name]="heading.name" type="text" matInput placeholder="" [(ngModel)]="row[heading.name]">
                                </mat-form-field>

                                <span *ngIf="heading.name === 'average_score'"
                                    [textContent]="calcAverage(row)"></span>

                                <ng-container *ngIf="['content', 'action', 'average_score'].indexOf(heading.name) === -1">
                                    <div ngbDropdown class="d-inline-block" placement="right">
                                        <button class="btn btn-secondary btn-sm" ngbDropdownToggle [textContent]="row[heading.name]"></button>
                                        <div ngbDropdownMenu>
                                            <button class="dropdown-item"
                                                    *ngFor="let val of dropdownValues"
                                                    [textContent]="val"
                                                    (click)="row[heading.name] = val">
                                            </button>
                                        </div>
                                    </div>
                                </ng-container>

                                <div *ngIf="heading.name === 'action'">
                                    <div class="edit-button action-button" (click)="confirmEdit(row)">
                                        <img class="img-fluid" src="assets/Confirm_V@2x.png"/>
                                    </div>
                                    <div class="delete-button action-button" (click)="rejectEdit(row)">
                                        <img class="img-fluid" src="assets/Cancel_X@2x.png" />
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!row.edit">
        
                                <p class="content-container" *ngIf="heading.name === 'content'" [textContent]="row[heading.name]"></p>
                                <span *ngIf="['content', 'action'].indexOf(heading.name) === -1" [textContent]="row[heading.name]"></span>
                            
                                <div *ngIf="heading.name === 'action' && row.showAction">
                                    <div class="edit-button action-button" (click)="editIdea(row)">
                                        <img class="img-fluid" src="assets/pen@2x.png" />
                                    </div>
                                    <div class="delete-button action-button" (click)="openDialog(row)">
                                        <img class="img-fluid" src="assets/bin@2x.png" />
                                    </div>
                                </div>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
