<section class="login-container" [ngClass]="{'login-fadeout': showSpinner}">
	<div class="row">
		<div class="offset-3 col-5">
			<form class="login-form" [formGroup]="loginForm" (ngSubmit)="formSubmit()">
				<h4 class="form-heading">Log In</h4>
				<div class="row">
					<div class="col-12">
						<mat-form-field class="input-field">
							<input type="text" matInput placeholder="Email" formControlName="email">
						</mat-form-field>
					</div>
				</div>

				<div class="row">
					<div class="col-12">
						<mat-form-field>
							<input type="password" matInput placeholder="Password" formControlName="password">
						</mat-form-field>
					</div>
				</div>
				<div class="row">
					<div class="col-3">
						<button type="submit"
								class="btn submit-button"
								mat-flat-button
								 [disabled]="showSpinner || !loginForm.valid">LOG IN</button>
					</div>
					<div class="col-9">
						<p class="float-right">
							<span>Don't have an account?</span>

							<ng-container *ngIf="showSpinner; else linkBlock">
								<a [attr.href]="null">Create an account</a>
							</ng-container>

							<ng-template #linkBlock>
								<a [routerLink]="['/signup']">Create an account</a>
							</ng-template>

						</p>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>

<div class="alerts">
	<div class="alert alert-success" role="alert" *ngIf="showSuccessAlert">
		You have successfully logged in.
	</div>

	<div class="alert alert-danger" role="alert" *ngIf="showErrorAlert">
		Error logging in. Email/Password did not match.
	</div>
</div>

<ng-container *ngIf="showSpinner">
	<mat-spinner></mat-spinner>
</ng-container>
