<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-10">
            <div *ngIf="loading" class="loader">
                <h2>Loading...</h2>
                <mat-spinner></mat-spinner>
            </div>
            <div *ngIf="!loading" class="router-output">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>


