@import '../../sass/_variables';

.submit-button {
    background-color: $theme-color;
    width: 150px;
    font-size: 12px;
}

.mat-form-field {
    width: 100%;
}

.signup-form {
    margin-top: 40%;
    height: 180px;
    // margin-top: -90px;
    .form-heading {
        text-align: center;
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: 300;
    }
}

.mat-spinner {
    position: absolute;
    top: 40%;
    left: 40%;
}

.signup-fadeout {
    opacity: 0.5;
}

.alerts {
    position: absolute;
    top: 10%;
    width: 450px;
    left: 30%;
}