<section class="signup-container" [ngClass]="{'signup-fadeout': showSpinner}">
    <div class="row">
        <div class="offset-3 col-5">
            <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="formSubmit()">
                <h4 class="form-heading">Sign Up</h4>

                <div class="row">
                    <div class="col-12">
                        <mat-form-field class="input-field">
                        <input type="text" matInput placeholder="Name" formControlName="name">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <mat-form-field class="input-field">
                        <input type="text" matInput placeholder="Email" formControlName="email">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <mat-form-field>
                        <input type="password" matInput placeholder="Password" formControlName="password">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button type="submit"
                                class="btn submit-button"
                                mat-flat-button
                                [disabled]="showSpinner || !signupForm.valid">SIGN UP</button>
                    </div>
                    <div class="col-9">
                        <p class="float-right">
                            <span>Already have an account?</span>

                            <ng-container *ngIf="showSpinner; else linkBlock">
                                <a [attr.href]="null"> Log in</a>
                            </ng-container>
                            
                            <ng-template #linkBlock>
                                <a [routerLink]="['/login']"> Log in</a>
                            </ng-template>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<div class="alerts">
    <div class="alert alert-success" role="alert" *ngIf="showSuccessAlert">
        You have successfully created a user.
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="showErrorAlert" [textContent]="errorMessage"></div>
</div>

<ng-container *ngIf="showSpinner">
    <mat-spinner></mat-spinner>
</ng-container>