@import '../../sass/_variables';

.sidebar-section {
    height: 100vh;
    background-color: $theme-color;
    margin-left: -15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

    .idea-pool-logo {
        margin: auto;
        width: 130px;
        .heading {
            color: #fff;
            text-align: center;
            margin-top: 10px;
        }
    }

    .user-details {
        margin: auto;
        width: 130px;
        text-align: center;
        .username {
            color: #fff;
            margin-top: 10px;
        }
        .logout {
            color: #000;
        }      
    }
}