<section class="sidebar-section">
    <div class="row">
        <div class="col-12">
            <div class="idea-pool-logo">
                <img class="img-fluid" src="assets/IdeaPool_icon@2x.png"/>
                <p class="heading">The Idea Pool</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
    </div>
    <div class="row" *ngIf="loggedIn">
        <div class="col-12">
            <div class="user-details">
                <img class="img-fluid" [src]="userDetails.avatar_url" />
                <h4 class="username" [textContent]="userDetails.name"></h4>
                <p class="logout" (click)="logout()">Log out</p>
            </div>
        </div>
    </div>
</section>
